<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>간단한 할 일 목록</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container mt-5">
      <h2 class="text-center mb-4">할 일 목록</h2>
      <form class="form-inline mb-4">
        <input
          id="todo-val"
          type="text"
          class="form-control mr-2 w-50"
          placeholder="새 할 일"
        />
        <button type="button" class="btn btn-primary" id="addTodoButton">
          할 일 추가
        </button>
      </form>
      <ul id="todo-list" class="list-group"></ul>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
